.avengers_td {
    height: 200px;
    width: 550px;
    padding: 10px;
    color: white;
    border:2px solid #dadada;
    text-align: center;
    font-weight: bold;
    vertical-align: top;
    border: 2px solid #E6FF83;
    backdrop-filter: blur(60px);
    background-size: 340px;
}

.avengers {
    border-spacing: 60px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: white;
    font-size: 30px;
}

.home {
    color: white;
    text-align: center;
    font-size: 30px;
}

.avengers_td {
    background-image: url('https://www.xtrafondos.com/wallpapers/resoluciones/19/avengers-endgame-logo_3840x2160_3034.jpg');
    background-position: center;
}

.homep {
    border-spacing: 160px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: white;
    font-size: 20px;
    font-style: italic;
}

.search {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#homelink {
    display: block;
    text-align: center;
    font-size: 20px;
}

.avlink {
    font-size: 17px;
}

h1 {
    text-align: center;
    font-size:40px;
}

h2 {
    text-align: center;
    font-size:30px;
    color: white;
    font-style: italic;
}

body {
    background-color: grey;
    background-image: url('https://images.unsplash.com/photo-1537420327992-d6e192287183?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTJ8fHN0YXIlMjB3YXJzfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60');
}

a:unvisited {
  color: purple;
}

a:visited {
  color: white;
}

a:hover {
    color: blue;
}


div {
    text-align: center;
    color: white;
    font-size:20px;
}

p {
    color: white;
    font-weight: bold;
}

h1 {
    color: white;
}

 #hero {
    height: 500px;
    width: 500px;
    margin: auto;
    display: block;
}

#movie {
    height: 400px;
    width: 500px;
    margin: auto;
    display: block;
}

.movies {
    color: white;
     padding: 10px;
    border:2px solid #dadada;
    text-align: center;
    font-weight: bold;
    vertical-align: top;
    border: 2px solid #E6FF83;
    backdrop-filter: blur(60px);
    background-size: 340px;
    margin: auto;
}

#error {
    font-size: 30px;
    color: red;
}

ul {
    color: white;
    font-size: 20px;
}

.contact {
    font-size: 20px;
    text-align: center;
}

.contactimg {
    width: 500px;
    margin: auto;
    display: block;
}

.contactform {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#home {
    height: 400px;
    width: 620px;
    display: block;
    margin: auto;
}

.topnav {
    float: right;
    color: white;
    text-align: center;
    display: inline;
}

#movie_h {
    display: center;
    font-size: 40px;
}
