{% extends "layout.html" %}

{% block content %}
<html>

<head>
    <script src="{{url_for('static', filename='script.js') }}"></script>
</head>

<body>
<div class="topnav">
 | <a href="/home/">Home</a> |
  <a href="/avengers/">Avengers Heroes</a> |
  <a href="/movies/">Movies</a> |
</div>

    <p class="contact"><b>Contact:</b></p>
    <p class="contact">Adresa: Cluj-Napoca, bdul Eroilor, nr. 1, jud. Cluj</p>
    <p class="contact">Telefon: 0742.866.113, E-mail: avengers@gmail.com</p>
    <img class="contactimg" src="https://www.researchskillsnet.com/images/contactus.jpg">
<br>
<br>
<form name="contactform">
        <table class="contactform">
            <tr>
                <td><input type="text" name="name" placeholder="Name"></td>
                <td>
                <div id="div_name"></div>
                </td>
            </tr>
            <tr>
                <td><input type="email" name="email" placeholder="E-mail"></td>
            </tr>
            <tr><td><textarea name="mesaj"></textarea></td></tr>
            <tr><td><button onclick="validate()">Send</button></td></tr>
        </table>
</form>
<br>

<a class="contact" href="/avengers/">Back to Heroes</a>
</body>

</html>

{% endblock %}