{% extends "layout.html" %}
{% block content %}


{% if hero %}
    <div>Your hero is: {{hero[8]}}</div>
    <div>Strengths: {{hero[1]}}</div>
    <div>Greatest enemies: {{hero[5]}}</div>
    <div>Date of birth: {{hero[2]}}</div>
    <div>Height: {{hero[4]}}</div>
    <div>Eyes color: {{hero[3]}}</div>
    <br>
    <img id="hero" src="/static/images/{{hero[6]}}">

{% else %}
<img src="https://i.pinimg.com/originals/7d/44/1f/7d441fa1467d5e2e92d6b2622455c586.png" style="float: left">
<h1>Your hero id doesn't exist! Please enter an id from 1 to 6!</h1>
<ul>
    <li><a href="/hero/1">1: Captain America</a></li>
    <li><a href="/hero/2">2: Iron Man</a></li>
    <li><a href="/hero/3">3: Thor</a></li>
    <li><a href="/hero/4">4: Hulk</a></li>
    <li><a href="/hero/5">5: Black Widow</a></li>
    <li><a href="/hero/6">6: Hawkeye</a></li>
</ul>

{% endif %}
<br>
<a class="avlink" href="/avengers/">Back to Heroes</a>

{% endblock content %}

