{% extends "layout.html" %}
{% block content %}

<h2 class="home">Welcome to Avengers</h2><br><br>

<p class="homep">Who are the 6 original Avengers?<br>
    While the book is unspecific in exactly
    how the Avengers would have met their end,<br>
    it's presumed that the original team includes Iron Man,
    Captain America, Hulk, Thor,<br> Hawkeye, and Black Widow—the
    six heroes who first united to save the Earth <br>in Joss Whedon's
    groundbreaking The Avengers.<br>
    Let's discover them together!
</p>
<br>
<img id="home" src="https://sm.mashable.com/mashable_in/seo/default/8-years-of-the-avengers-how-joss-whedons-risk-became-crucial_5z9w.jpg">
<a id="homelink" href="/avengers/">Click for more...</a>
{% endblock content %}